<!DOCTYPE html>
<html lang="en" ng-app="parkoo">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="cordova.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="js/app.js"></script>
    <script src="phonegap.js"></script>
    <title>Parkoo</title>
</head>

<body ng-controller="NavController as navi" style="overflow-x: hidden;">

    <div id="ham">
        <a ng-click="toggle = !toggle"><img src="images/hamenu.png" /></a>
        <ul ng-show="toggle">
            <li><a id="Home" ng-click="navi.selectTab(1); toggle = false">Home</a></li>
            <li><a id="About" ng-click="navi.selectTab(2); toggle = false">About</a></li>
            <li><a id="Contact" href="mailto:parkoo.staff@gmail.com" ng-click="toggle = false">Contact</a></li>
            <!-- <li><a id="Settings" ng-click="navi.selectTab(5);  toggle = false">Settings</a></li> -->
            <!-- <li><a id="Review" ng-href="#"  ng-click="toggle = false">Rate/Review</a></li> -->
        </ul>
    </div>

    <div class="searching">
        <section ng-controller="MyController">
            <div id="wrapper">
                <div id="head">
                    <img id="hill" src="images/parkoo_beta_Logo.png" alt="Park Finder" title="Parkoo!" />
                    <img id="small" src="images/Parkoo_Beta_Logo_Small.png" alt="Park Finder" title="Parkoo!" />
                </div>
                <div class="banner">
                    <img src="images/lake_Rainbow.jpg" alt="Park Finder" title="Parkoo!"> </img>
                </div>
                <div class="sayBack">
                    <h1 class="centerSay">...find something new and beautiful...</h1>
                </div>
                <div ng-show="navi.isSelected(1)" class="searching">
                    <div class="container mt-sm-3">
                        <div class="row justify-content-center">
                            <div class="card" style="background-color: #dadbd8">
                                <div class="card-body">
                                    <div class="form-row mb-2">
                                        <div class="col text-center">
                                            <label class="col-form-label" for="searchQuery">
                                                I found {{(parks|myFilter:searchText).length}} parks meeting that criteria
                                            </label>
                                            <br />
                                        </div>
                                        <div class="form-row col-12">
                                            <input class="form-control" type="text" id="searchQuery" placeholder="Search..." autofocus ng-model="searchText">
                                        </div>
                                        <div class="form-row col-12">
                                            <div class="container">
                                                <div class="row" id="sort">
                                                    <div class="col-sm-6">
                                                        <select class="form-control" ng-model="parkOrder">
                                                            <option value="parkName">Park Name</option>
                                                            <option value="city">City</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select class="form-control" ng-model="display">
                                                    <option value="5" disabled>List # Parks</option>
                                                    <option Value = "5">List 5 Parks</option>
                                                    <option Value = "10">List 10 Parks</option>
                                                    <option Value = "25">List 25 Parks</option>
                                                    <option Value = "50">List 50 Parks</option>
                                                </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container sort">
                                                <label class="form-check-label"><input ng-model="direction" class="form-check-input" type="radio" name="direction" checked>asc</label>&nbsp;&nbsp;
                                                <label class="form-check-label"><input ng-model="direction" class="form-check-input" type="radio" name="direction" value="reverse">desc</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-9 col-md-7 col-lg-5">
                                <ul class="list-group d-flex parksList">
                                    <li class="list-group-item parksList" ng-repeat="items in parks |  myFilter:searchText | orderBy:parkOrder:direction | limitTo:display ">
                                        <a id="paLi" style="cursor: pointer" href="#" ng-click="parkIndex(items); navi.selectTab(4)">
                                            <div class="media d-flex align-items-center">
                                                <div class="media-body">
                                                    <h2 class="my-0 text-dark">{{items.parkName | uppercase}}</h5>
                                                        <div class="font-italic">{{items.streetAddress}}<br /> {{items.city}}, {{items.zipCode}}
                                                        </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>

                                        <!-- THIS IS WHERE THE PAGINGATION WILL GO IF WE CAN EVER FIGURE IT OUT  -->

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="navi.isSelected(4)" class="parkinfo">
                    <h2> {{parkDetail.parkName}}</h2>
                    <a id="r" target="_blank" href="https://www.google.com/maps/@{{parkDetail.latitude}},{{parkDetail.longitude}},14.5z">
                        <p>{{parkDetail.streetAddress}}, {{parkDetail.city}}</p>
                    </a>
                    <hr>
                    <h4 style="text-align: center;"> This park includes: </h4>
                    <h4 id="h">{{parkDetail.feature}}.</h4>
                    <br />
                    <div id="map" style="width:100%;height:400px;background:grey;margin:auto;border: 2px solid #3872ac;">
                        <!--<p id="lati">{{parkDetail.latitude}}</p>
                        <p id="longi">{{parkDetail.longitude}}</p>-->
                    </div>
                    <br />
                    <p><a id="e" ng-click="navi.selectTab(1)">Back to Search</a></p>
                </div>
        </section>
        </div>
        <footer>
            <div class="section">
                <img class="swing" src="images/treeswing.png" />
            </div>
            <div class="section">
                <br />
                <h3>&#169; 2018 Parkoo</h3>
            </div>
            <div class="section">
                <p>Find us</p>
                <ul>
                    <li><a href="https://www.facebook.com/parkooparks" target="_blank"><img src="images/fbtap.png" /></a></li>
                    <li><a href="http://instagram.com/parkoobeta" target="_blank"><img src="images/instatap.png" /></a></li>
                </ul>
            </div>
        </footer>

        <script>
            function myMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat: 47.1144166,
                        lng: -122.3779357
                    },
                    zoom: 14
                });
                google.maps.event.addListenerOnce(map, 'idle', function() {
                    google.maps.event.trigger(map, 'resize');
                });
            }

            $(document).ready(function() {
                setTimeout(myMap, 1000);
            });

        </script>


        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCnTct1oimd-mZG6gLmj4ZqxVtTz7N3fE&callback=myMap" type="text/javascript"></script>
</body>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>
