<!DOCTYPE html>
<html lang="en" ng-app="parkoo">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contents="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <title>Parkoo</title>
</head>

<body class="bg-secondary" ng-controller="MyController">
    <div class="container mt-sm-3">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 card">
                <div class="card-body">
                    <div class="form-row mb-2">
                        <div class="col text-center">
                            <label class="col-form-label" for="searchQuery">
                            i found {{(parks|myFilter:searchText).length}} parks meeting that criteria
                        </label><br />
                        </div>
                        <div class="form-row col-12">
                            <input class="form-control" type="text" id="searchQuery" placeholder="Search..." autofocus ng-model="searchText">
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <select class="form-control mr-3 w-100" ng-model="parkOrder">
                                <option value="parkName">Park Name</option>
                                <option value="city">City</option>
                            </select>
                            </div>
                            <div class="col-5 col-md-4">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label"><input ng-model="direction" class="form-check-input" type="radio" name="direction" checked> asc</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                    <input ng-model="direction" class="form-check-input" type="radio" name="direction" value="reverse">desc</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="park-list container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-9 col-md-7 col-lg-5">
                <ul class="list-group d-flex" ng-if="searchText">
                    <li class="list-group-item" ng-repeat="items in parks | myFilter:searchText | orderBy:parkOrder:direction | limitTo:display ">
                        <div class="media d-flex align-items-center">
                            <div class="media-body">
                                <h5 class="my-0 text-dark">{{items.parkName | uppercase}}</h5>
                                <div class="text-secondary font-italic">{{items.streetAddress}}<br /> {{items.city}}, {{items.zipCode}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <span>Parks Displayed:
                    <select ng-model="display">
                        <option Value = "5"> 5</option><option Value = "10" selected> 10</option><option Value = "20"> 20</option><option Value = "30"> 30 </option><option Value = "40"> 40</option><option Value = "50"> 50</option>
                    </select>
                </span>
            </div>
            
        </div>
    </div>




</body>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>